<mat-sidenav-container class="nav-container">
  <mat-sidenav #sidenav [mode]="'side'">
    <div class="nav-content">
      <div class="header">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="close icon" fontIcon="close"></mat-icon>
        </button>
      </div>


      <mat-divider></mat-divider>

      <div class="links-wrapper">
       <p class="mt-3 ml-1">
          <a mat-button (click)="navigate('/dashboard')">Dashboard</a>
        </p>

        <p class="mt-3  ml-1">
          <a mat-button (click)="navigate('/lista-entregas')">Lista de entregas</a>
        </p>
      </div>

    </div>
</mat-sidenav>


<mat-toolbar>
  <div class="container">
      <div class="menu-fix">
        <button
          mat-icon-button class="example-icon"
          aria-label="icon-button with menu icon"
          (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </div>

  </div>
</mat-toolbar>

<full-loading>
  <div class="container mb-5">
    <router-outlet></router-outlet>
  </div>
</full-loading>
